body {
	align-content: center;
	font-family: sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

#container {
}

#buttons {
	background-color: rgb(242, 242, 242);
	display: inline-flex;
	border: 1px solid rgb(225, 224, 224);
	width: 295px;
	height: 45px;
}

#date {
	height: 15em;
	background-color: rgb(242, 242, 242);
	border: 1px solid rgb(225, 224, 224);
	display: inline-flex;
	overflow: hidden;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li {
	padding: 1em;
	text-align: center;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
	-khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

li.selected {
	background-color: rgb(145, 193, 231);
}

li:hover {
	background-color: rgb(225, 224, 224);
}

#month {
	width: 135px;
	overflow-y: auto;
}

.left {
	border-right: 1px solid rgb(230, 230, 230);
}

#day {
	width: 80px;
	overflow-y: auto;
}

.middle {
	border-right: 1px solid rgb(217, 217, 217);
	border-left: 1px solid rgb(217, 217, 217);
}

#year {
	width: 80px;
	overflow-y: auto;
}

.right {
	border-left: 1px solid rgb(217, 217, 217);
}

.ok {
	display: flex;
	align-items: center;
	width: 50%;
}

.ok:hover {
	background-color: rgb(225, 224, 224);
}

.cancel {
	display: flex;
	align-items: center;
	width: 50%;
}

.cancel:hover {
	background-color: rgb(225, 224, 224);
}

a {
	width: 100%;
}

i {
	text-align: center;
	width: inherit;
}
