<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Amatime</title>
	<link rel="stylesheet" href="res/css/style.css">
	<script src="res/js/vue.js" charset="utf-8"></script>

</head>
<body>
	<div id="container">
		<div id="month">
			<ul>
				<li v-for="month in months"
				@click="selectMonth(month)"
				:class="(form.month == month) ? 'selected' : ''"
				>
					{{ month }}
				</li>
			</ul>
		</div>
		<div id="day">
			<ul>
				<li v-for="day in days"
				@click="selectDay(day)"
				:class="(form.day == day) ? 'selected' : ''"
				>
					{{ day }}
				</li>
			</ul>
		</div>
		<div id="year">
			<ul>
				<li v-for="year in years"
				@click="selectYear(year)"
				:class="(form.year == year) ? 'selected' : ''">
					{{ year }}
				</li>
			</ul>
		</div>
	</div>
	<script src="res/js/amatime.js" charset="utf-8"></script>
</body>
</html>
