body {
	align-content: center;
	font-family: sans-serif;
}

#container {
	max-width: 25%;
	max-height: 40%;
	background-color: green;
}

#month {
	max-widt%: 60%;
	display: inline-block;
}
#day {
	max-widt%: 20%;
}
#year {
	max-widt%: 20%;
}